<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>植物大战僵尸</string>
		<key>icon</key>
		<string>icon_00</string>
		<key>download</key>
		<string>10311万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>捕鱼达人2</string>
		<key>icon</key>
		<string>icon_01</string>
		<key>download</key>
		<string>9982万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保卫萝卜</string>
		<key>icon</key>
		<string>icon_02</string>
		<key>download</key>
		<string>8582万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>找你妹</string>
		<key>icon</key>
		<string>icon_03</string>
		<key>download</key>
		<string>5910万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果忍者</string>
		<key>icon</key>
		<string>icon_04</string>
		<key>download</key>
		<string>5082万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鳄鱼小顽皮</string>
		<key>icon</key>
		<string>icon_05</string>
		<key>download</key>
		<string>3918万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神偷奶爸</string>
		<key>icon</key>
		<string>icon_06</string>
		<key>download</key>
		<string>3681万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时空猎人</string>
		<key>icon</key>
		<string>icon_07</string>
		<key>download</key>
		<string>3645万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>愤怒的小鸟</string>
		<key>icon</key>
		<string>icon_08</string>
		<key>download</key>
		<string>3552万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滑雪大冒险</string>
		<key>icon</key>
		<string>icon_09</string>
		<key>download</key>
		<string>3487万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爸爸去哪儿</string>
		<key>icon</key>
		<string>icon_10</string>
		<key>download</key>
		<string>3117万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我叫MT </string>
		<key>icon</key>
		<string>icon_11</string>
		<key>download</key>
		<string>2386万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3D终极狂飙</string>
		<key>icon</key>
		<string>icon_12</string>
		<key>download</key>
		<string>2166万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杀手2</string>
		<key>icon</key>
		<string>icon_13</string>
		<key>download</key>
		<string>1951万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>俄罗斯方块</string>
		<key>icon</key>
		<string>icon_14</string>
		<key>download</key>
		<string>1290万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刀塔传奇</string>
		<key>icon</key>
		<string>icon_15</string>
		<key>download</key>
		<string>1249万</string>
	</dict>
</array>
</plist>
